.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}
.logo {
  flex-grow: 1;
  flex-basis: 65%;
  font-family: Helvetica;
  font-style: italic;
  font-size: 35px;
  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
}

#content {
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project {
  margin-right: 10px;
  margin-left: 10px;
}

#projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
}
.project {
  margin-bottom: 25px;
  border: 1px solid #ccc;
  flex-basis: 250px;
  flex-grow: 1;
  margin-right: 20px;
}

.project img {
  width: 100%;
}

.project-info {
  padding: 10px;
}

.vistaprimera {
  background: #336b87;
}
.TransformComponent-module_container__3NwNd {
  width: 100%;
}
.TransformComponent-module_content__TZU5O {
  width: 100%;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 120px;
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}
#footer .logo {
  opacity: 0.5;
  flex-basis: auto;
  flex-grow: 1;
  text-align: right;
  margin-right: 20px;
  order: 2;
}
#footer .info {
  margin-left: 20px;
  order: 1;
  flex-grow: 1;
  color: #444;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.example-text {
  background: #ffc17b;
  width: 100%;
  height: 407px;
  border: 1px solid rgb(19, 19, 19);
}

li {
  text-decoration: none;                

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
